CREATE OR ALTER PROCEDURE dbo.sp_ActualizarEmpleado
(
    @inValorDocumentoIdentidad        NVARCHAR(30),  -- Doc original (clave de búsqueda)
    @inNuevoValorDocumentoIdentidad   NVARCHAR(30),
    @inNuevoNombre                    NVARCHAR(100),
    @inNuevoIdPuesto                  INT,
    @inPostByUser                     NVARCHAR(50),  -- Username ejecutor (para sp_Bitacora_Add)
    @inIP                             NVARCHAR(50),
    @outResultCode                    INT OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;
    SET @outResultCode = 0;

    BEGIN TRY
        -- Normalizar entradas
        SET @inValorDocumentoIdentidad      = LTRIM(RTRIM(@inValorDocumentoIdentidad));
        SET @inNuevoValorDocumentoIdentidad = LTRIM(RTRIM(@inNuevoValorDocumentoIdentidad));
        SET @inNuevoNombre                  = LTRIM(RTRIM(@inNuevoNombre));

        --------------------------------
        -- Resolver usuario ejecutor
        --------------------------------
        DECLARE @idUsuarioEjecutor INT;
        SELECT @idUsuarioEjecutor = u.Id
        FROM dbo.Usuario u
        WHERE u.Username = @inPostByUser;

        IF @idUsuarioEjecutor IS NULL
        BEGIN
            SET @outResultCode = 50001; -- Username ejecutor no existe
            RETURN;
        END

        --------------------------------------------------------
        -- Traer empleado actual por Documento (debe existir/activo)
        --------------------------------------------------------
        DECLARE @idEmpleado INT
              , @docActual NVARCHAR(30)
              , @nombreActual NVARCHAR(100)
              , @idPuestoActual INT
              , @puestoActual NVARCHAR(100)
              , @saldoActual DECIMAL(10,2);

        SELECT TOP 1
              @idEmpleado      = e.Id
            , @docActual       = e.ValorDocumentoIdentidad
            , @nombreActual    = e.Nombre
            , @idPuestoActual  = e.IdPuesto
            , @saldoActual     = e.SaldoVacaciones
        FROM dbo.Empleado e
        WHERE e.ValorDocumentoIdentidad = @inValorDocumentoIdentidad
          AND e.EsActivo = 1;

        SELECT @puestoActual = p.Nombre FROM dbo.Puesto p WHERE p.Id = @idPuestoActual;

        IF @idEmpleado IS NULL
        BEGIN
            SET @outResultCode = 50008; -- dato base inexistente
            DECLARE @rc0 INT, @desc0 NVARCHAR(MAX) =
                N'Actualizar empleado (NO exitoso). Error=50008 (Empleado no existe/activo). ' +
                N'DocOriginal=' + ISNULL(@inValorDocumentoIdentidad,N'') +
                N'; DocNuevoIntentado=' + ISNULL(@inNuevoValorDocumentoIdentidad,N'') +
                N'; NombreNuevoIntentado=' + ISNULL(@inNuevoNombre,N'') +
                N'; PuestoNuevoIntentadoId=' + CONVERT(NVARCHAR(20), @inNuevoIdPuesto) +
                N'; Usuario=' + @inPostByUser + N'; IP=' + @inIP;
            EXEC dbo.sp_Bitacora_Add 7, @desc0, @inPostByUser, @inIP, @rc0 OUTPUT;
            RETURN;
        END

        ------------------------------------------------------------
        -- Validaciones que se deben trazar en Bitácora (NO exitoso)
        ------------------------------------------------------------

        -- 1) CÉDULA NUEVA -> solo numérica (50010)
        IF (PATINDEX('%[^0-9]%', @inNuevoValorDocumentoIdentidad) > 0)
        BEGIN
            SET @outResultCode = 50010;

            DECLARE @rc1 INT, @desc1 NVARCHAR(MAX) =
                N'Actualizar empleado (NO exitoso). Error=50010 (Documento no numérico). ' +
                N'DocOriginal=' + ISNULL(@docActual,N'') +
                N'; DocNuevoIntentado=' + ISNULL(@inNuevoValorDocumentoIdentidad,N'') +
                N'; NombreActual=' + ISNULL(@nombreActual,N'') +
                N'; NombreNuevoIntentado=' + ISNULL(@inNuevoNombre,N'') +
                N'; PuestoActual=' + ISNULL(@puestoActual,N'') +
                N'; PuestoNuevoIntentadoId=' + CONVERT(NVARCHAR(20), @inNuevoIdPuesto) +
                N'; SaldoVacaciones=' + FORMAT(@saldoActual,'N2') +
                N'; Usuario=' + @inPostByUser + N'; IP=' + @inIP;

            EXEC dbo.sp_Bitacora_Add 7, @desc1, @inPostByUser, @inIP, @rc1 OUTPUT;
            RETURN;
        END

        -- 2) NOMBRE NUEVO -> alfabético (espacios y guion ok) (50009)
        IF (PATINDEX(N'%[^A-Za-zÁÉÍÓÚáéíóúÑñ -]%', @inNuevoNombre) > 0)
        BEGIN
            SET @outResultCode = 50009;

            DECLARE @rc2 INT, @desc2 NVARCHAR(MAX) =
                N'Actualizar empleado (NO exitoso). Error=50009 (Nombre no alfabético). ' +
                N'DocOriginal=' + ISNULL(@docActual,N'') +
                N'; DocNuevoIntentado=' + ISNULL(@inNuevoValorDocumentoIdentidad,N'') +
                N'; NombreActual=' + ISNULL(@nombreActual,N'') +
                N'; NombreNuevoIntentado=' + ISNULL(@inNuevoNombre,N'') +
                N'; PuestoActual=' + ISNULL(@puestoActual,N'') +
                N'; PuestoNuevoIntentadoId=' + CONVERT(NVARCHAR(20), @inNuevoIdPuesto) +
                N'; SaldoVacaciones=' + FORMAT(@saldoActual,'N2') +
                N'; Usuario=' + @inPostByUser + N'; IP=' + @inIP;

            EXEC dbo.sp_Bitacora_Add 7, @desc2, @inPostByUser, @inIP, @rc2 OUTPUT;
            RETURN;
        END

        ---------------------------------------
        -- Otras validaciones (con trazas)
        ---------------------------------------
        DECLARE @puestoNuevo NVARCHAR(100);
        SELECT @puestoNuevo = p.Nombre FROM dbo.Puesto p WHERE p.Id = @inNuevoIdPuesto;

        IF @puestoNuevo IS NULL
        BEGIN
            SET @outResultCode = 50008;

            DECLARE @rc3 INT, @desc3 NVARCHAR(MAX) =
                N'Actualizar empleado (NO exitoso). Error=50008 (Puesto inválido). ' +
                N'DocOriginal=' + ISNULL(@docActual,N'') +
                N'; DocNuevoIntentado=' + ISNULL(@inNuevoValorDocumentoIdentidad,N'') +
                N'; NombreActual=' + ISNULL(@nombreActual,N'') +
                N'; NombreNuevoIntentado=' + ISNULL(@inNuevoNombre,N'') +
                N'; PuestoActual=' + ISNULL(@puestoActual,N'') +
                N'; PuestoNuevoIntentadoId=' + CONVERT(NVARCHAR(20), @inNuevoIdPuesto) +
                N'; SaldoVacaciones=' + FORMAT(@saldoActual,'N2') +
                N'; Usuario=' + @inPostByUser + N'; IP=' + @inIP;

            EXEC dbo.sp_Bitacora_Add 7, @desc3, @inPostByUser, @inIP, @rc3 OUTPUT;
            RETURN;
        END

        -- Doc duplicado en otro empleado (50006)
        IF EXISTS (
            SELECT 1 FROM dbo.Empleado e
            WHERE e.ValorDocumentoIdentidad = @inNuevoValorDocumentoIdentidad
              AND e.Id <> @idEmpleado
              AND e.EsActivo = 1
        )
        BEGIN
            SET @outResultCode = 50006;

            DECLARE @rc4 INT, @desc4 NVARCHAR(MAX) =
                N'Actualizar empleado (NO exitoso). Error=50006 (Documento ya existe en otro). ' +
                N'DocOriginal=' + ISNULL(@docActual,N'') +
                N'; DocNuevoIntentado=' + ISNULL(@inNuevoValorDocumentoIdentidad,N'') +
                N'; NombreActual=' + ISNULL(@nombreActual,N'') +
                N'; NombreNuevoIntentado=' + ISNULL(@inNuevoNombre,N'') +
                N'; PuestoActual=' + ISNULL(@puestoActual,N'') +
                N'; PuestoNuevoIntentado=' + ISNULL(@puestoNuevo,N'') +
                N'; SaldoVacaciones=' + FORMAT(@saldoActual,'N2') +
                N'; Usuario=' + @inPostByUser + N'; IP=' + @inIP;

            EXEC dbo.sp_Bitacora_Add 7, @desc4, @inPostByUser, @inIP, @rc4 OUTPUT;
            RETURN;
        END

        -- Nombre duplicado en otro empleado (50007)
        IF EXISTS (
            SELECT 1 FROM dbo.Empleado e
            WHERE e.Nombre = @inNuevoNombre
              AND e.Id <> @idEmpleado
              AND e.EsActivo = 1
        )
        BEGIN
            SET @outResultCode = 50007;

            DECLARE @rc5 INT, @desc5 NVARCHAR(MAX) =
                N'Actualizar empleado (NO exitoso). Error=50007 (Nombre ya existe en otro). ' +
                N'DocOriginal=' + ISNULL(@docActual,N'') +
                N'; DocNuevoIntentado=' + ISNULL(@inNuevoValorDocumentoIdentidad,N'') +
                N'; NombreActual=' + ISNULL(@nombreActual,N'') +
                N'; NombreNuevoIntentado=' + ISNULL(@inNuevoNombre,N'') +
                N'; PuestoActual=' + ISNULL(@puestoActual,N'') +
                N'; PuestoNuevoIntentado=' + ISNULL(@puestoNuevo,N'') +
                N'; SaldoVacaciones=' + FORMAT(@saldoActual,'N2') +
                N'; Usuario=' + @inPostByUser + N'; IP=' + @inIP;

            EXEC dbo.sp_Bitacora_Add 7, @desc5, @inPostByUser, @inIP, @rc5 OUTPUT;
            RETURN;
        END

        -------------------------
        -- UPDATE (transacción)
        -------------------------
        BEGIN TRANSACTION;

            UPDATE dbo.Empleado
            SET ValorDocumentoIdentidad = @inNuevoValorDocumentoIdentidad,
                Nombre                  = @inNuevoNombre,
                IdPuesto                = @inNuevoIdPuesto
            WHERE Id = @idEmpleado;

        COMMIT TRANSACTION;

        -- Bitácora EXITOSA (IdTipoEvento = 8)
        DECLARE @rc6 INT, @desc6 NVARCHAR(MAX) =
            N'Actualizar empleado (EXITOSO). ' +
            N'DocOriginal=' + ISNULL(@docActual,N'') +
            N'; DocNuevo=' + ISNULL(@inNuevoValorDocumentoIdentidad,N'') +
            N'; NombreOriginal=' + ISNULL(@nombreActual,N'') +
            N'; NombreNuevo=' + ISNULL(@inNuevoNombre,N'') +
            N'; PuestoOriginal=' + ISNULL(@puestoActual,N'') +
            N'; PuestoNuevo=' + ISNULL(@puestoNuevo,N'') +
            N'; SaldoVacaciones=' + FORMAT(@saldoActual,'N2') +
            N'; Usuario=' + @inPostByUser + N'; IP=' + @inIP;

        EXEC dbo.sp_Bitacora_Add 8, @desc6, @inPostByUser, @inIP, @rc6 OUTPUT;

        SET @outResultCode = 0;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;

        INSERT INTO dbo.DBError
            (UserName, Number, State, Severity, Line, ProcedureName, Message, DateTime)
        VALUES
            (@inPostByUser, ERROR_NUMBER(), ERROR_STATE(), ERROR_SEVERITY(),
             ERROR_LINE(), ERROR_PROCEDURE(), ERROR_MESSAGE(), GETDATE());

        SET @outResultCode = 50008; -- error general

        -- Traza NO exitosa (IdTipoEvento = 7)
        DECLARE @rc7 INT, @desc7 NVARCHAR(MAX) =
            N'Actualizar empleado (NO exitoso). Error=50008 (DB). ' +
            N'DocOriginal=' + ISNULL(@docActual,N'') +
            N'; DocNuevoIntentado=' + ISNULL(@inNuevoValorDocumentoIdentidad,N'') +
            N'; NombreActual=' + ISNULL(@nombreActual,N'') +
            N'; NombreNuevoIntentado=' + ISNULL(@inNuevoNombre,N'') +
            N'; PuestoActual=' + ISNULL(@puestoActual,N'') +
            N'; PuestoNuevoIntentadoId=' + CONVERT(NVARCHAR(20), @inNuevoIdPuesto) +
            N'; SaldoVacaciones=' + ISNULL(FORMAT(@saldoActual,'N2'), N'') +
            N'; Usuario=' + @inPostByUser + N'; IP=' + @inIP;

        EXEC dbo.sp_Bitacora_Add 7, @desc7, @inPostByUser, @inIP, @rc7 OUTPUT;
    END CATCH
END
GO
