CREATE OR ALTER PROCEDURE dbo.sp_EliminarEmpleado
(
    @inValorDocumentoIdentidad NVARCHAR(30),
    @inPostByUser              NVARCHAR(50),
    @inIP                      NVARCHAR(50),
    @outResultCode             INT OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @IdEmpleado INT;

        SELECT @IdEmpleado = e.Id
        FROM dbo.Empleado e
        WHERE e.ValorDocumentoIdentidad = @inValorDocumentoIdentidad
          AND e.EsActivo = 1;

        IF @IdEmpleado IS NULL
        BEGIN
            SET @outResultCode = 50012; -- Empleado no encontrado o inactivo
            COMMIT TRANSACTION;
            RETURN;
        END

        -- Borrado lógico
        UPDATE dbo.Empleado
        SET  EsActivo = 0,
             PostBy   = @inPostByUser,
             PostInIP = @inIP,
             PostTime = GETDATE()
        WHERE Id = @IdEmpleado;

        -- Evento 10: Borrado exitoso (con descripción robusta)
        DECLARE @nom NVARCHAR(100), @puesto NVARCHAR(100), @saldo DECIMAL(10,2);
        SELECT 
            @nom    = e.Nombre,
            @saldo  = e.SaldoVacaciones,
            @puesto = p.Nombre
        FROM dbo.Empleado e
        JOIN dbo.Puesto  p ON p.Id = e.IdPuesto
        WHERE e.Id = @IdEmpleado;

        DECLARE @rc INT, @desc NVARCHAR(MAX);
        SET @desc = N'Borrado exitoso. Doc=' + @inValorDocumentoIdentidad
                 + N'; Nombre=' + ISNULL(@nom,N'')
                 + N'; Puesto=' + ISNULL(@puesto,N'')
                 + N'; SaldoVacaciones=' + CONVERT(NVARCHAR(50), ISNULL(@saldo,0));

        EXEC dbo.sp_Bitacora_Add 10, @desc, @inPostByUser, @inIP, @rc OUTPUT;

        COMMIT TRANSACTION;
        SET @outResultCode = 0;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;

        INSERT INTO dbo.DBError(UserName, Number, State, Severity, Line, ProcedureName, Message, DateTime)
        SELECT @inPostByUser, ERROR_NUMBER(), ERROR_STATE(), ERROR_SEVERITY(), ERROR_LINE(), ERROR_PROCEDURE(), ERROR_MESSAGE(), GETDATE();

        SET @outResultCode = 50008; -- Error general
    END CATCH
END
GO
