CREATE OR ALTER PROCEDURE dbo.sp_CheckThrottle
(
    @inUsername NVARCHAR(50),
    @inIP NVARCHAR(50),
    @outIsBlocked BIT OUTPUT,
    @outSecondsRemaining INT OUTPUT,
    @outResultCode INT OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    SET @outIsBlocked = 0;
    SET @outSecondsRemaining = 0;
    SET @outResultCode = 0;

    DECLARE @idUsuario INT;
    SELECT @idUsuario = Id FROM dbo.Usuario WHERE Username = @inUsername;

    DECLARE @intentosFallidos INT;

    IF @idUsuario IS NOT NULL
    BEGIN
        SELECT @intentosFallidos = COUNT(*)
        FROM dbo.BitacoraEvento
        WHERE IdPostByUser = @idUsuario
          AND PostInIP = @inIP
          AND IdTipoEvento = 2
          AND PostTime >= DATEADD(MINUTE, -5, GETDATE());
    END
    ELSE
    BEGIN
        -- Usuario no existe → contamos por patrón en descripción + IP
        SELECT @intentosFallidos = COUNT(*)
        FROM dbo.BitacoraEvento
        WHERE PostInIP = @inIP
          AND IdTipoEvento = 2
          AND PostTime >= DATEADD(MINUTE, -5, GETDATE())
          AND Descripcion LIKE N'%usuario: ' + @inUsername + N'%';

        SET @outResultCode = 50001; -- username no existe (informativo)
    END

    -- Política: BLOQUEA con MÁS de 5 intentos
    IF @intentosFallidos > 5
    BEGIN
        SET @outIsBlocked = 1;

        DECLARE @ultimoIntento DATETIME;
        IF @idUsuario IS NOT NULL
        BEGIN
            SELECT TOP 1 @ultimoIntento = PostTime
            FROM dbo.BitacoraEvento
            WHERE IdPostByUser = @idUsuario
              AND PostInIP = @inIP
              AND IdTipoEvento = 2
            ORDER BY PostTime DESC;
        END
        ELSE
        BEGIN
            SELECT TOP 1 @ultimoIntento = PostTime
            FROM dbo.BitacoraEvento
            WHERE PostInIP = @inIP
              AND IdTipoEvento = 2
              AND Descripcion LIKE N'%usuario: ' + @inUsername + N'%'
            ORDER BY PostTime DESC;
        END

        IF @ultimoIntento IS NULL
        BEGIN
            SET @outSecondsRemaining = 300;
        END
        ELSE
        BEGIN
            DECLARE @tiempoDesbloqueo DATETIME = DATEADD(MINUTE, 5, @ultimoIntento);
            SET @outSecondsRemaining = DATEDIFF(SECOND, GETDATE(), @tiempoDesbloqueo);
            IF @outSecondsRemaining < 0
            BEGIN
                SET @outSecondsRemaining = 0;
                SET @outIsBlocked = 0;
            END
        END
    END
END
GO
