/****** Object:  StoredProcedure [dbo].[sp_CargarDatosDesdeXML]    Script Date: 21/10/2025 10:42:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_CargarDatosDesdeXML]
    @inXml          XML,
    @outResultCode  INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    -- Constantes (evita literales repetidas)
    DECLARE @cUser  NVARCHAR(50) = N'UsuarioScripts';
    DECLARE @cIP    NVARCHAR(45) = N'0.0.0.0';

    BEGIN TRY
        ------------------------------------------------------------
        -- 0) VALIDACIONES BÁSICAS
        ------------------------------------------------------------
        IF ( @inXml IS NULL OR @inXml.exist('/Datos') = 0 )
        BEGIN
            SET @outResultCode = 50001;    -- XML inválido / nodo raíz ausente
            RETURN;
        END

        ------------------------------------------------------------
        -- 1) CATÁLOGOS (INSERT IF NOT EXISTS)
        ------------------------------------------------------------
        ;WITH x AS (
            SELECT
                T.P.value('@Nombre','NVARCHAR(100)')        AS Nombre
              , T.P.value('@SalarioxHora','DECIMAL(10,2)')  AS SalarioxHora
            FROM @inXml.nodes('/Datos/Puestos/Puesto') AS T(P)
        )
        INSERT INTO dbo.Puesto
            ( Nombre
            , SalarioxHora
            , PostInIP
            , PostBy
            , PostTime )
        SELECT
            x.Nombre
          , x.SalarioxHora
          , @cIP
          , @cUser
          , GETDATE()
        FROM x
        WHERE NOT EXISTS (
            SELECT 1
            FROM dbo.Puesto AS p
            WHERE ( p.Nombre = x.Nombre )
        );

        ;WITH x AS (
            SELECT
                T.E.value('@Id','INT')                AS Id
              , T.E.value('@Nombre','NVARCHAR(100)')  AS Nombre
            FROM @inXml.nodes('/Datos/TiposEvento/TipoEvento') AS T(E)
        )
        INSERT INTO dbo.TipoEvento
            ( Id
            , Nombre
            , PostInIP
            , PostBy
            , PostTime )
        SELECT
            x.Id
          , x.Nombre
          , @cIP
          , @cUser
          , GETDATE()
        FROM x
        WHERE NOT EXISTS (
            SELECT 1
            FROM dbo.TipoEvento AS te
            WHERE ( te.Id = x.Id )
        );

        ;WITH x AS (
            SELECT
                T.M.value('@Id','INT')                   AS Id
              , T.M.value('@Nombre','NVARCHAR(100)')     AS Nombre
              , T.M.value('@TipoAccion','NVARCHAR(20)')  AS TipoAccion
            FROM @inXml.nodes('/Datos/TiposMovimientos/TipoMovimiento') AS T(M)
        )
        INSERT INTO dbo.TipoMovimiento
            ( Id
            , Nombre
            , TipoAccion
            , PostInIP
            , PostBy
            , PostTime )
        SELECT
            x.Id
          , x.Nombre
          , x.TipoAccion
          , @cIP
          , @cUser
          , GETDATE()
        FROM x
        WHERE NOT EXISTS (
            SELECT 1
            FROM dbo.TipoMovimiento AS tm
            WHERE ( tm.Id = x.Id )
        );

        ;WITH x AS (
            SELECT
                T.U.value('@Id','INT')                 AS Id
              , T.U.value('@Nombre','NVARCHAR(50)')    AS Username
              , T.U.value('@Pass','NVARCHAR(255)')     AS [Password]
            FROM @inXml.nodes('/Datos/Usuarios/usuario') AS T(U)
        )
        INSERT INTO dbo.Usuario
            ( Id
            , Username
            , [Password]
            , PostInIP
            , PostBy
            , PostTime )
        SELECT
            x.Id
          , x.Username
          , x.[Password]
          , @cIP
          , @cUser
          , GETDATE()
        FROM x
        WHERE NOT EXISTS (
            SELECT 1
            FROM dbo.Usuario AS u
            WHERE ( u.Id = x.Id )
        );

        ;WITH x AS (
            SELECT
                T.E.value('@Codigo','INT')                    AS Codigo
              , T.E.value('@Descripcion','NVARCHAR(500)')     AS Descripcion
            FROM @inXml.nodes('/Datos/Error/errorCodigo') AS T(E)
        )
        INSERT INTO dbo.[Error]
            ( Codigo
            , Descripcion )
        SELECT
            x.Codigo
          , x.Descripcion
        FROM x
        WHERE NOT EXISTS (
            SELECT 1
            FROM dbo.[Error] AS e
            WHERE ( e.Codigo = x.Codigo )
        );

        ------------------------------------------------------------
        -- 2) EMPLEADOS (UPSERT SIN MERGE) + SALDO=0, ACTIVO=1
        ------------------------------------------------------------
		DECLARE @src TABLE
		(
			Doc               NVARCHAR(30) PRIMARY KEY,
			Nombre            NVARCHAR(100),
			FechaContratacion DATE,
			IdPuesto          INT
		);

		INSERT INTO @src (Doc, Nombre, FechaContratacion, IdPuesto)
		SELECT
			s0.Doc,
			s0.Nombre,
			s0.FechaContratacion,
			p.Id
		FROM (
			SELECT
				T.E.value('@Puesto','NVARCHAR(100)')                 AS PuestoNombre,
				T.E.value('@ValorDocumentoIdentidad','NVARCHAR(30)') AS Doc,
				T.E.value('@Nombre','NVARCHAR(100)')                 AS Nombre,
				T.E.value('@FechaContratacion','DATE')               AS FechaContratacion
			FROM @inXml.nodes('/Datos/Empleados/empleado') AS T(E)
		) AS s0
		JOIN dbo.Puesto AS p
		  ON p.Nombre = s0.PuestoNombre;

		UPDATE e
		   SET e.IdPuesto          = s.IdPuesto,
			   e.Nombre            = s.Nombre,
			   e.FechaContratacion = s.FechaContratacion,
			   e.SaldoVacaciones   = 0,
			   e.EsActivo          = 1
		FROM dbo.Empleado AS e
		JOIN @src AS s
		  ON e.ValorDocumentoIdentidad = s.Doc;

		INSERT INTO dbo.Empleado
			( IdPuesto, ValorDocumentoIdentidad, Nombre, FechaContratacion,
			  SaldoVacaciones, EsActivo, PostInIP, PostBy, PostTime )
		SELECT
			s.IdPuesto, s.Doc, s.Nombre, s.FechaContratacion,
			0, 1, @cIP, @cUser, GETDATE()
		FROM @src AS s
		WHERE NOT EXISTS (
			SELECT 1
			FROM dbo.Empleado AS e
			WHERE e.ValorDocumentoIdentidad = s.Doc
		);


        ------------------------------------------------------------
        -- 3) RESET CONTROLADO (si tu flujo lo exige)
        ------------------------------------------------------------
        TRUNCATE TABLE dbo.Movimiento;
        TRUNCATE TABLE dbo.BitacoraEvento;

        ------------------------------------------------------------
        -- 4) MOVIMIENTOS UNO-A-UNO (SIN CURSOR, SIN TEMPORALES)
        --    Tabla variable + WHILE sobre IDENTITY.
        --    NOTA: sp_InsertarMovimiento maneja su propia TX.
        ------------------------------------------------------------
        DECLARE @Movs TABLE
        (
            RowId             INT IDENTITY(1,1) PRIMARY KEY
          , ValorDocId        NVARCHAR(30)
          , IdTipoMovimiento  INT
          , Fecha             DATE
          , Monto             DECIMAL(10,2)
        );

        INSERT INTO @Movs
            ( ValorDocId
            , IdTipoMovimiento
            , Fecha
            , Monto )
        SELECT
            T.M.value('@ValorDocId','NVARCHAR(30)')
          , T.M.value('@IdTipoMovimiento','INT')
          , T.M.value('@Fecha','DATE')
          , T.M.value('@Monto','DECIMAL(10,2)')
        FROM @inXml.nodes('/Datos/Movimientos/movimiento') AS T(M);

        DECLARE @i       INT = 1;
        DECLARE @imax    INT = ( SELECT ISNULL(MAX(m.RowId),0) FROM @Movs AS m );
        DECLARE @docId   NVARCHAR(30);
        DECLARE @idTipo  INT;
        DECLARE @fecha   DATE;
        DECLARE @monto   DECIMAL(10,2);
        DECLARE @rc      INT;

        WHILE ( @i <= @imax )
        BEGIN
            SELECT
                @docId  = m.ValorDocId
              , @idTipo = m.IdTipoMovimiento
              , @fecha  = m.Fecha
              , @monto  = m.Monto
            FROM @Movs AS m
            WHERE ( m.RowId = @i );

            -- Cada movimiento audita y hace TX adentro de sp_InsertarMovimiento
            EXEC dbo.sp_InsertarMovimiento
                 @inValorDocId        = @docId
               , @inIdTipoMovimiento  = @idTipo
               , @inFecha             = @fecha
               , @inMonto             = @monto
               , @inUserName          = @cUser
               , @inIP                = @cIP
               , @outResultCode       = @rc OUTPUT;

            -- Continuar aunque falle alguno: la bitácora y DBError lo registran
            SET @i = @i + 1;
        END

        SET @outResultCode = 0;
    END TRY
    BEGIN CATCH
        IF ( @@TRANCOUNT > 0 )
        BEGIN
            ROLLBACK TRANSACTION;
        END

        INSERT INTO dbo.DBError
            ( UserName
            , Number
            , State
            , Severity
            , Line
            , ProcedureName
            , Message
            , DateTime )
        VALUES
            ( N'sp_CargarDatosDesdeXML'
            , ERROR_NUMBER()
            , ERROR_STATE()
            , ERROR_SEVERITY()
            , ERROR_LINE()
            , ERROR_PROCEDURE()
            , ERROR_MESSAGE()
            , GETDATE() );

        SET @outResultCode = 50008;
    END CATCH
END
