CREATE OR ALTER PROCEDURE dbo.sp_GetLoginAttemptStats
(
    @inUsername NVARCHAR(50),
    @inIP NVARCHAR(50),
    @outAttempts5Min INT OUTPUT,
    @outMaxAttempts  INT OUTPUT,   -- política
    @outResultCode   INT OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    SET @outAttempts5Min = 0;
    SET @outMaxAttempts  = 5;      -- AJUSTA si tu política cambia
    SET @outResultCode   = 0;

    DECLARE @idUsuario INT;
    SELECT @idUsuario = Id FROM dbo.Usuario WHERE Username = @inUsername;

    IF @idUsuario IS NOT NULL
    BEGIN
        -- Usuario EXISTENTE: contamos por FK
        SELECT @outAttempts5Min = COUNT(*)
        FROM dbo.BitacoraEvento
        WHERE IdPostByUser = @idUsuario
          AND PostInIP = @inIP
          AND IdTipoEvento = 2   -- 2 = Login no exitoso
          AND PostTime >= DATEADD(MINUTE, -5, GETDATE());
        RETURN;
    END

    -- Usuario NO EXISTE:
    -- Contamos por patrón en Descripcion + IP (mantén un formato consistente al loguear)
    -- Asegurate de que los fallos se registren con 'usuario: <name>' exactamente así.
    SELECT @outAttempts5Min = COUNT(*)
    FROM dbo.BitacoraEvento
    WHERE PostInIP = @inIP
      AND IdTipoEvento = 2
      AND PostTime >= DATEADD(MINUTE, -5, GETDATE())
      AND Descripcion LIKE N'%usuario: ' + @inUsername + N'%';

    SET @outResultCode = 50001; -- “username no existe” (informativo)
END
GO
