/****** Object:  StoredProcedure [dbo].[sp_InsertarMovimiento]    Script Date: 21/10/2025 10:05:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_InsertarMovimiento]
    @inValorDocId       NVARCHAR(30),   --P0
    @inIdTipoMovimiento INT,            --P1
    @inFecha            DATE = NULL,    --P2
    @inMonto            DECIMAL(10,2),  --P3
    @inUserName         NVARCHAR(50),   --P4
    @inIP               NVARCHAR(50),   --P5
    @outResultCode      INT OUTPUT      --POUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Normalizacion de fecha
    DECLARE @fecha DATE = ISNULL(@inFecha, CONVERT(date, GETDATE()));

    BEGIN TRY
        DECLARE @idEmpleado   INT;
        DECLARE @empleadoNom  NVARCHAR(100);
        DECLARE @saldoActual  DECIMAL(10,2);
        DECLARE @nuevoSaldo   DECIMAL(10,2);
        DECLARE @tipoAccion   NVARCHAR(20);
        DECLARE @tipoMovNom   NVARCHAR(100);
        DECLARE @idUsuario    INT;

        -- Resolver usuario (FK)
        SELECT @idUsuario = u.Id
        FROM dbo.Usuario AS u
        WHERE u.Username = @inUserName;

        IF @idUsuario IS NULL
        BEGIN
            SET @outResultCode = 50001; -- Username no existe
            RETURN;
        END

        -- Resolver empleado
        SELECT 
            @idEmpleado  = e.Id,
            @empleadoNom = e.Nombre,
            @saldoActual = e.SaldoVacaciones
        FROM dbo.Empleado AS e
        WHERE e.ValorDocumentoIdentidad = @inValorDocId
          AND e.EsActivo = 1;

        IF @idEmpleado IS NULL
        BEGIN
            SET @outResultCode = 50008; -- inválido/no encontrado
            RETURN;
        END

        -- TipoMovimiento (acción)
        SELECT 
            @tipoAccion = tm.TipoAccion,
            @tipoMovNom = tm.Nombre
        FROM dbo.TipoMovimiento AS tm
        WHERE tm.Id = @inIdTipoMovimiento;

        IF @tipoAccion IS NULL
        BEGIN
            SET @outResultCode = 50008; -- TM inválido
            RETURN;
        END

        -- Calcular nuevo saldo
        IF @tipoAccion = N'Credito'
            SET @nuevoSaldo = @saldoActual + @inMonto;
        ELSE
            SET @nuevoSaldo = @saldoActual - @inMonto;

        -- Valida no negativo
        IF @nuevoSaldo < 0
        BEGIN
            INSERT INTO dbo.BitacoraEvento
                (IdTipoEvento, Descripcion, IdPostByUser, PostInIP, PostTime)
            VALUES
                (13,
                 CONCAT(
                    N'Intento de insertar movimiento (FALLIDO). '
                    , N'Doc=', @inValorDocId
                    , N', Nombre=', @empleadoNom
                    , N', TipoMovimientoId=', @inIdTipoMovimiento
                    , N' (', @tipoMovNom, N', Accion=', @tipoAccion, N')'
                    , N', Fecha=', CONVERT(NVARCHAR(10), @fecha, 23) -- yyyy-MM-dd
                    , N', Monto=', FORMAT(@inMonto, 'N2')
                    , N', SaldoAnterior=', FORMAT(@saldoActual, 'N2')
                    , N', NuevoSaldo=', FORMAT(@nuevoSaldo, 'N2')
                    , N'. Usuario=', @inUserName, N', IP=', @inIP
                 ),
                 @idUsuario, @inIP, GETDATE());

            SET @outResultCode = 50011; -- saldo negativo
            RETURN;
        END

        BEGIN TRANSACTION;
            INSERT INTO dbo.Movimiento
                (idEmpleado, idTipoMovimiento, Fecha, Monto, NuevoSaldo, IdPostByUser, PostInIP, PostTime)
            VALUES
                (@idEmpleado, @inIdTipoMovimiento, @fecha, @inMonto, @nuevoSaldo, @idUsuario, @inIP, GETDATE());

            UPDATE dbo.Empleado
            SET SaldoVacaciones = @nuevoSaldo
            WHERE Id = @idEmpleado;

            INSERT INTO dbo.BitacoraEvento
                (IdTipoEvento, Descripcion, IdPostByUser, PostInIP, PostTime)
            VALUES
                (14,
                 CONCAT(
                    N'Insertar movimiento (EXITOSO). '
                    , N'Doc=', @inValorDocId
                    , N', Nombre=', @empleadoNom
                    , N', TipoMovimientoId=', @inIdTipoMovimiento
                    , N' (', @tipoMovNom, N', Accion=', @tipoAccion, N')'
                    , N', Fecha=', CONVERT(NVARCHAR(10), @fecha, 23)
                    , N', Monto=', FORMAT(@inMonto, 'N2')
                    , N', SaldoAnterior=', FORMAT(@saldoActual, 'N2')
                    , N', NuevoSaldo=', FORMAT(@nuevoSaldo, 'N2')
                    , N'. Usuario=', @inUserName, N', IP=', @inIP
                 ),
                 @idUsuario, @inIP, GETDATE());
        COMMIT TRANSACTION;

        SET @outResultCode = 0;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;

        INSERT INTO dbo.DBError
            (UserName, Number, State, Severity, Line, ProcedureName, Message, DateTime)
        VALUES
            (@inUserName, ERROR_NUMBER(), ERROR_STATE(), ERROR_SEVERITY(),
             ERROR_LINE(), ERROR_PROCEDURE(), ERROR_MESSAGE(), GETDATE());

        SET @outResultCode = 50008;
    END CATCH
END
