CREATE OR ALTER PROCEDURE dbo.sp_InsertarEmpleado
(
    @inValorDocumentoIdentidad NVARCHAR(30),
    @inIP                      NVARCHAR(50),
    @inNombre                  NVARCHAR(100),
    @inIdPuesto                INT,
    @inPostByUser              NVARCHAR(50),
    @outResultCode             INT OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Normalizar entradas
        SET @inValorDocumentoIdentidad = LTRIM(RTRIM(@inValorDocumentoIdentidad));
        SET @inNombre                  = LTRIM(RTRIM(@inNombre));

        ------------------------------------------------------------
        -- Validar usuario existe
        ------------------------------------------------------------
        DECLARE @idUsuario INT;
        SELECT @idUsuario = u.Id FROM dbo.Usuario u WHERE u.Username = @inPostByUser;

        IF @idUsuario IS NULL
        BEGIN
            SET @outResultCode = 50001; -- Username no existe
            DECLARE @rcBit0 INT, @err0 NVARCHAR(500), @desc NVARCHAR(MAX);
            SELECT @err0 = Descripcion 
            FROM dbo.[Error] 
            WHERE Codigo = 50001;

            SET @desc = N'Inserción NO exitosa. Error=' + ISNULL(@err0,N'')
                      + N'. DocIntentado=' + ISNULL(@inValorDocumentoIdentidad,N'')
                      + N'; NombreIntentado=' + ISNULL(@inNombre,N'')
                      + N'; PuestoIntentadoId=' + CONVERT(NVARCHAR(20), @inIdPuesto);

            EXEC dbo.sp_Bitacora_Add 5, @desc, @inPostByUser, @inIP, @rcBit0 OUTPUT;
            RETURN;
        END

        ---------------------------------------
        -- Validación formato: cédula es numérica
        ---------------------------------------
        IF (PATINDEX('%[^0-9]%', @inValorDocumentoIdentidad) > 0)
        BEGIN
            SET @outResultCode = 50010; -- Doc no numérico
            DECLARE @rcBit1 INT, @err1 NVARCHAR(500), @desc1 NVARCHAR(MAX);
            SELECT @err1 = Descripcion 
            FROM dbo.[Error] 
            WHERE Codigo = 50010;

            SET @desc1 = N'Inserción NO exitosa. Error=' + ISNULL(@err1,N'')
                       + N'. DocIntentado=' + ISNULL(@inValorDocumentoIdentidad,N'')
                       + N'; NombreIntentado=' + ISNULL(@inNombre,N'')
                       + N'; PuestoIntentadoId=' + CONVERT(NVARCHAR(20), @inIdPuesto);

            EXEC dbo.sp_Bitacora_Add 5, @desc1, @inPostByUser, @inIP, @rcBit1 OUTPUT;
            RETURN;
        END

        ------------------------------------------------------------
        -- Validación formato: nombre alfabético (espacios y guion ok)
        ------------------------------------------------------------
        IF (PATINDEX(N'%[^A-Za-zÁÉÍÓÚáéíóúÑñ -]%', @inNombre) > 0)
        BEGIN
            SET @outResultCode = 50009; -- Nombre no alfabético
            DECLARE @rcBit2 INT, @err2 NVARCHAR(500), @desc2 NVARCHAR(MAX);
            SELECT @err2 = Descripcion 
            FROM dbo.[Error] 
            WHERE Codigo = 50009;

            SET @desc2 = N'Inserción NO exitosa. Error=' + ISNULL(@err2,N'')
                       + N'. DocIntentado=' + ISNULL(@inValorDocumentoIdentidad,N'')
                       + N'; NombreIntentado=' + ISNULL(@inNombre,N'')
                       + N'; PuestoIntentadoId=' + CONVERT(NVARCHAR(20), @inIdPuesto);

            EXEC dbo.sp_Bitacora_Add 5, @desc2, @inPostByUser, @inIP, @rcBit2 OUTPUT;
            RETURN;
        END

        -----------------------------
        -- Validar puesto existente
        -----------------------------
        DECLARE @puestoNombre NVARCHAR(100);
        SELECT @puestoNombre = p.Nombre 
        FROM dbo.Puesto p 
        WHERE p.Id = @inIdPuesto;

        IF @puestoNombre IS NULL
        BEGIN
            SET @outResultCode = 50008; -- Datos/relación inválida
            DECLARE @rcBit3 INT, @err3 NVARCHAR(500), @desc3 NVARCHAR(MAX);
            SELECT @err3 = Descripcion 
            FROM dbo.[Error] 
            WHERE Codigo = 50008;

            SET @desc3 = N'Inserción NO exitosa. Error=' + ISNULL(@err3,N'')
                       + N'. DocIntentado=' + ISNULL(@inValorDocumentoIdentidad,N'')
                       + N'; NombreIntentado=' + ISNULL(@inNombre,N'')
                       + N'; PuestoIntentadoId=' + CONVERT(NVARCHAR(20), @inIdPuesto);

            EXEC dbo.sp_Bitacora_Add 5, @desc3, @inPostByUser, @inIP, @rcBit3 OUTPUT;
            RETURN;
        END

        -----------------------------------------
        -- Validación unicidad por Documento
        -----------------------------------------
        IF EXISTS (
            SELECT 1
            FROM dbo.Empleado e
            WHERE e.ValorDocumentoIdentidad = @inValorDocumentoIdentidad
              AND e.EsActivo = 1
        )
        BEGIN
            SET @outResultCode = 50004; -- Doc ya existe (inserción)
            DECLARE @rcBit4 INT, @err4 NVARCHAR(500), @desc4 NVARCHAR(MAX);
            SELECT @err4 = Descripcion FROM dbo.[Error] WHERE Codigo = 50004;

            SET @desc4 = N'Inserción NO exitosa. Error=' + ISNULL(@err4,N'')
                       + N'. DocIntentado=' + ISNULL(@inValorDocumentoIdentidad,N'')
                       + N'; NombreIntentado=' + ISNULL(@inNombre,N'')
                       + N'; PuestoIntentado=' + ISNULL(@puestoNombre,N'');

            EXEC dbo.sp_Bitacora_Add 5, @desc4, @inPostByUser, @inIP, @rcBit4 OUTPUT;
            RETURN;
        END

        -----------------------------------------
        -- Validación unicidad por Nombre
        -----------------------------------------
        IF EXISTS (
            SELECT 1
            FROM dbo.Empleado e
            WHERE e.Nombre = @inNombre
              AND e.EsActivo = 1
        )
        BEGIN
            SET @outResultCode = 50005; -- Nombre ya existe (inserción)
            DECLARE @rcBit5 INT, @err5 NVARCHAR(500), @desc5 NVARCHAR(MAX);
            SELECT @err5 = Descripcion 
            FROM dbo.[Error] 
            WHERE Codigo = 50005;

            SET @desc5 = N'Inserción NO exitosa. Error=' + ISNULL(@err5,N'')
                       + N'. DocIntentado=' + ISNULL(@inValorDocumentoIdentidad,N'')
                       + N'; NombreIntentado=' + ISNULL(@inNombre,N'')
                       + N'; PuestoIntentado=' + ISNULL(@puestoNombre,N'');

            EXEC dbo.sp_Bitacora_Add 5, @desc5, @inPostByUser, @inIP, @rcBit5 OUTPUT;
            RETURN;
        END

        BEGIN TRANSACTION;

            INSERT INTO dbo.Empleado
            (
                IdPuesto,
                ValorDocumentoIdentidad,
                Nombre,
                FechaContratacion,
                SaldoVacaciones,
                EsActivo,
                PostInIP,
                PostBy,
                PostTime
            )
            VALUES
            (
                @inIdPuesto,
                @inValorDocumentoIdentidad,
                @inNombre,
                CAST(GETDATE() AS date),  -- fecha de contratación hoy
                0,                        -- saldo inicial
                1,                        -- activo
                @inIP,
                @inPostByUser,
                GETDATE()
            );

        COMMIT TRANSACTION;

        -- Bitácora: Inserción exitosa (IdTipoEvento = 6)
        DECLARE @rcBit6 INT, @desc6 NVARCHAR(MAX);
        SET @desc6 = N'Inserción exitosa. Doc=' + ISNULL(@inValorDocumentoIdentidad,N'')
                   + N'; Nombre=' + ISNULL(@inNombre,N'')
                   + N'; Puesto=' + ISNULL(@puestoNombre,N'');
        EXEC dbo.sp_Bitacora_Add 6, @desc6, @inPostByUser, @inIP, @rcBit6 OUTPUT;

        SET @outResultCode = 0; -- éxito
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;

        INSERT INTO dbo.DBError
            (UserName, Number, State, Severity, Line, ProcedureName, Message, DateTime)
        VALUES
            (@inPostByUser, ERROR_NUMBER(), ERROR_STATE(), ERROR_SEVERITY(),
             ERROR_LINE(), ERROR_PROCEDURE(), ERROR_MESSAGE(), GETDATE());

        SET @outResultCode = 50008; -- error general
    END CATCH
END
GO
