CREATE OR ALTER PROCEDURE dbo.sp_Login
(
    @inUsername NVARCHAR(50),
    @inPassword NVARCHAR(200),
    @inIP       NVARCHAR(50),
    @outResultCode INT OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;
    SET @outResultCode = 0;

    DECLARE @idUsuario INT;
    SELECT @idUsuario = u.Id 
    FROM dbo.Usuario u 
    WHERE u.Username = @inUsername;

    -- Usuario especial para username inválido
    DECLARE @idUsuarioNoValido INT;
    SELECT @idUsuarioNoValido = u.Id 
    FROM dbo.Usuario u 
    WHERE u.Username = N'Usuario No Valido';

    IF @idUsuario IS NULL
    BEGIN
        SET @outResultCode = 50001; -- username no existe

        -- Conteo últimos 5 min para ESTE username (string) + IP, usando el usuario "No Valido"
        DECLARE @prev INT = (
            SELECT COUNT(*)
            FROM dbo.BitacoraEvento
            WHERE IdTipoEvento = 2
              AND IdPostByUser = @idUsuarioNoValido
              AND PostInIP = @inIP
              AND PostTime >= DATEADD(MINUTE, -5, GETDATE())
              AND Descripcion LIKE N'%usuario=' + @inUsername + N'%'
        );
        DECLARE @intentoN INT = @prev + 1;

        INSERT INTO dbo.BitacoraEvento (IdTipoEvento, Descripcion, IdPostByUser, PostInIP, PostTime)
        VALUES (2,
                CONCAT(N'Intento ', @intentoN, N' codigo: 50001; usuario=', @inUsername),
                @idUsuarioNoValido,
                @inIP,
                GETDATE());

        RETURN;
    END

    -- Password check (haz tu verificación real: hash, etc.)
    DECLARE @ok BIT = 0;
    SELECT @ok = CASE WHEN u.Password = @inPassword THEN 1 ELSE 0 END
    FROM dbo.Usuario u 
    WHERE u.Id = @idUsuario;

    IF @ok = 0
    BEGIN
        SET @outResultCode = 50002; -- password incorrecta

        -- Conteo últimos 5 min por usuario real + IP
        DECLARE @prev2 INT = (
            SELECT COUNT(*)
            FROM dbo.BitacoraEvento
            WHERE IdTipoEvento = 2
              AND IdPostByUser = @idUsuario
              AND PostInIP = @inIP
              AND PostTime >= DATEADD(MINUTE, -5, GETDATE())
        );
        DECLARE @intentoN2 INT = @prev2 + 1;

        INSERT INTO dbo.BitacoraEvento (IdTipoEvento, Descripcion, IdPostByUser, PostInIP, PostTime)
        VALUES (2,
                CONCAT(N'Intento ', @intentoN2, N' codigo: 50002; usuario=', @inUsername),
                @idUsuario,
                @inIP,
                GETDATE());

        RETURN;
    END

    -- Éxito
    SET @outResultCode = 0;
END
GO
