USE [prueba];
GO
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO

ALTER PROCEDURE dbo.sp_InsertarMovimiento
(
    @inValorDocumentoIdentidad NVARCHAR(30)
  , @inIdTipoMovimiento        INT
  , @inMonto                   DECIMAL(10,2)
  , @inPostByUser              NVARCHAR(50)
  , @inIP                      NVARCHAR(50)
  , @outResultCode             INT OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    ----------------------------------------------------------------------
    -- Pre-proceso (según estándar): normalizar y validar entradas
    ----------------------------------------------------------------------
    SET @inValorDocumentoIdentidad = LTRIM(RTRIM(@inValorDocumentoIdentidad));

    DECLARE @IdEmpleado   INT;
    DECLARE @IdUsuario    INT;
    DECLARE @TipoAccion   NVARCHAR(20);

    -- Empleado activo
    SELECT
        @IdEmpleado = e.Id
    FROM dbo.Empleado AS e
    WHERE (e.ValorDocumentoIdentidad = @inValorDocumentoIdentidad)
      AND (e.EsActivo = 1);

    IF (@IdEmpleado IS NULL)
    BEGIN
        INSERT INTO dbo.BitacoraEvento
        (
            IdTipoEvento
          , Descripcion
          , IdPostByUser
          , PostInIP
          , PostTime
        )
        VALUES
        (   13
          , N'Empleado no encontrado al insertar movimiento: ' + @inValorDocumentoIdentidad
          , (SELECT u.Id FROM dbo.Usuario AS u WHERE (u.Username = @inPostByUser))
          , @inIP
          , GETDATE()
        );

        SET @outResultCode = 50012; -- Empleado no encontrado
        RETURN;
    END

    -- Usuario que postea
    SELECT
        @IdUsuario = u.Id
    FROM dbo.Usuario AS u
    WHERE (u.Username = @inPostByUser);

    -- Tipo de movimiento
    SELECT
        @TipoAccion = tm.TipoAccion
    FROM dbo.TipoMovimiento AS tm
    WHERE (tm.Id = @inIdTipoMovimiento);

    IF (@TipoAccion IS NULL)
    BEGIN
        INSERT INTO dbo.BitacoraEvento
        (
            IdTipoEvento
          , Descripcion
          , IdPostByUser
          , PostInIP
          , PostTime
        )
        VALUES
        (   13
          , N'Tipo de movimiento no encontrado. IdTipoMovimiento: ' + CONVERT(NVARCHAR(10), @inIdTipoMovimiento)
          , @IdUsuario
          , @inIP
          , GETDATE()
        );

        SET @outResultCode = 50009; -- TipoMovimiento no existe (código de tu catálogo)
        RETURN;
    END

    ----------------------------------------------------------------------
    -- Transacción (según estándar: al final, sólo si todo está validado)
    ----------------------------------------------------------------------
    BEGIN TRY
        BEGIN TRANSACTION;

        -- Actualización atómica del saldo con validación anti-negativo
        DECLARE @SaldoActualizado TABLE (NuevoSaldo DECIMAL(10,2));

        UPDATE e
           SET  e.SaldoVacaciones =
                    CASE
                        WHEN (@TipoAccion = N'Credito') THEN (e.SaldoVacaciones + @inMonto)
                        ELSE                                  (e.SaldoVacaciones - @inMonto)
                    END
              , e.PostBy   = @inPostByUser
              , e.PostInIP = @inIP
              , e.PostTime = GETDATE()
        OUTPUT
              inserted.SaldoVacaciones
        INTO   @SaldoActualizado (NuevoSaldo)
        FROM dbo.Empleado AS e
        WHERE (e.Id = @IdEmpleado)
          AND (
                (@TipoAccion = N'Credito' AND (e.SaldoVacaciones + @inMonto) >= 0)
             OR (@TipoAccion = N'Debito'  AND (e.SaldoVacaciones - @inMonto) >= 0)
          );

        IF (@@ROWCOUNT = 0)
        BEGIN
            -- Rechazo por saldo negativo potencial (código 50011)
            INSERT INTO dbo.BitacoraEvento
            (
                IdTipoEvento
              , Descripcion
              , IdPostByUser
              , PostInIP
              , PostTime
            )
            VALUES
            (   13
              , N'Movimiento RECHAZADO por saldo negativo. Doc=' + @inValorDocumentoIdentidad
                + N', Monto=' + CONVERT(NVARCHAR(32), @inMonto)
              , @IdUsuario
              , @inIP
              , GETDATE()
            );

            SET @outResultCode = 50011; -- “saldo quedaría negativo”
            COMMIT TRANSACTION;
            RETURN;
        END

        DECLARE @NuevoSaldo DECIMAL(10,2);
        SELECT
            @NuevoSaldo = s.NuevoSaldo
        FROM @SaldoActualizado AS s;

        -- Insertar movimiento con el saldo ya actualizado
        INSERT INTO dbo.Movimiento
        (
            IdEmpleado
          , IdTipoMovimiento
          , Fecha
          , Monto
          , NuevoSaldo
          , IdPostByUser
          , PostInIP
          , PostTime
        )
        VALUES
        (   @IdEmpleado
          , @inIdTipoMovimiento
          , GETDATE()
          , @inMonto
          , @NuevoSaldo
          , @IdUsuario
          , @inIP
          , GETDATE()
        );

        -- Éxito en bitácora
        INSERT INTO dbo.BitacoraEvento
        (
            IdTipoEvento
          , Descripcion
          , IdPostByUser
          , PostInIP
          , PostTime
        )
        VALUES
        (   14
          , N'Movimiento exitoso. Documento: ' + @inValorDocumentoIdentidad
          , @IdUsuario
          , @inIP
          , GETDATE()
        );

        COMMIT TRANSACTION;
        SET @outResultCode = 0;
    END TRY
    BEGIN CATCH
        IF (@@TRANCOUNT > 0)
        BEGIN
            ROLLBACK TRANSACTION;
        END

        INSERT INTO dbo.DBError
        (
            UserName
          , Number
          , State
          , Severity
          , Line
          , ProcedureName
          , Message
          , DateTime
        )
        SELECT
            SUSER_SNAME()
          , ERROR_NUMBER()
          , ERROR_STATE()
          , ERROR_SEVERITY()
          , ERROR_LINE()
          , ERROR_PROCEDURE()
          , ERROR_MESSAGE()
          , GETDATE();

        SET @outResultCode = 50008; -- Error general
    END CATCH;
END;
GO
